{% extends 'base.html.twig' %}
{% block title %}Archive of Myself{% endblock %}
{% block javascripts %}
    <script>
        function httpPutLikes_DislikesComment(id,LikeOrDislike)
        {
            const xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "PUT", 'http://localhost:8000/api/comment/' + id, true ); // false for synchronous request
            xmlHttp.setRequestHeader('Content-Type', 'application/json')
            xmlHttp.send(JSON.stringify({
                "text": "",
                "likes": LikeOrDislike,
                "dislikes": 0
            }));
            location.reload();
            return xmlHttp.responseText;
        }

        function httpPutLikes_DislikesStory(id,LikeOrDislike)
        {
            const xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "PUT", 'http://localhost:8000/api/story/' + id, true ); // false for synchronous request
            xmlHttp.setRequestHeader('Content-Type', 'application/json')
            xmlHttp.send(JSON.stringify({
                "title": "",
                "likes": LikeOrDislike,
                "dislikes": 0
            }));
            location.reload();
            return xmlHttp.responseText;
        }
    </script>
{% endblock %}
{% block body %}
<style>
    .example-wrapper { background-color: #1b1b1b; margin: 1em auto; max-width: 1000px; width: 95%; font: 18px/1.5 sans-serif; display: flex; flex-direction: column; align-items: center; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    body{
        background-color: #3b4151;
        color: white;
    }
    .story{
        background-color: #222222;
        height: auto;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        overflow-wrap: break-word;
        padding-left: 2vw;
        padding-right: 2vw;

    }
    .comment{
        width: 50%;
    }
    .a{
        user-select: none;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: end;
        padding-bottom: 1vw;
    }
    .c:hover{
        background-color: #383838;
    }
    .c:active{
        background-color: #2e3136;
    }
    .c{
        border-radius: 20px;
        display: flex;
        width: 30%;
        justify-content: center;
    }
    h3,h1,h2{
        text-align: center;
    }
</style>

<div class="example-wrapper">
    <h1>Hello {{ user_name }}!  ✅</h1>
    <h2>Storys:</h2>

    {% for story in storys%}
        <div class="story">
    <h2>{{ story.title }}</h2>
    <p>{{ story.storie }}</p>
            <br>
            <h4>{{ story.author }}</h4>
            <div class="a">
                <div class="c" id="likes1" onclick="httpPutLikes_DislikesStory({{ story.id }},0)">
            <p>Likes: {{ story.likes }}</p>
                </div>
                <div class="c" id="dislikes1" onclick="httpPutLikes_DislikesStory({{ story.id }},1)">
            <p>Dislikes: {{ story.dislikes }}</p>
                </div>
            </div>
        </div>
        <br>
        <h3>Kommentare</h3>
        <br>
        {% for comment in story.comments %}
    <div class="story comment">
        <p>{{ comment.text }}</p>
        <div class="a">
            <div class="c" id="likes2" onclick="httpPutLikes_DislikesComment({{ comment.id }},0)">
        <p>Likes: {{ comment.likes }}</p>
            </div>
                <div class="c" id="dislikes2" onclick="httpPutLikes_DislikesComment({{ comment.id }},1)">
        <p>Dislikes: {{ comment.dislikes }}</p>
                </div>
        </div>
    </div>
            <br>
        {% else %}
    <div class="story comment">
        <p>Es gibt noch keine Kommentare, sei der erste!</p>
    </div>
        {% endfor %}
            <br>
        <br>
    {% endfor %}
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'D:/Symfony/UEK-295/src/Controller/HtmlController.php'|file_link(0) }}">src/Controller/HtmlController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'D:/Symfony/UEK-295/templates/html/index.html.twig'|file_link(0) }}">templates/html/index.html.twig</a></code></li>
    </ul>

</div>
{% endblock %}

